{
  "client_secret": "{{ mdath_secret }}",
  "client_hostname": "0.0.0.0",
  "client_port": {{ mdath_port }},
  "client_external_port": 0,
  "threads": 16,
  "graceful_shutdown_wait_seconds": 180,
  "max_cache_size_in_mebibytes": 38147,
  "max_kilobits_per_second": 0,
  "max_mebibytes_per_hour": 0,
  "web_settings": {}
}
